<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel='icon' type='image/png' sizes='32x32' href='favicon.png' />
    <title>Frontend Mentor | Blog preview card</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap'
      rel='stylesheet'
    />
  </head>
  <body
    class='font-figtree bg-yellow p-6 min-h-svh flex justify-center items-center text-black font-medium text-sm'
  >
    <slot />
  </body>
</html>
